
ICON 1 os2\editor.ico

DLGTEMPLATE 100 
BEGIN
	DIALOG "LoraBBS for OS/2", 100, 26, 72, 261, 93, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 110, 6, 40, 14
		CONTROL "LoraBBS", 101, 73, 65, 115, 22, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "30.Tms Rmn Bold Italic"
PRESPARAMS PP_FOREGROUNDCOLOR , 0xff0000L
		CONTROL "Professional Edition for Presentation Manager", 102, 8, 56, 244, 10, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "12.Helv Bold Italic"
PRESPARAMS PP_FOREGROUNDCOLOR , 0x8000L
		CONTROL "Copyright (c) 1996 by Marco Maccaferri. All rights reserved.", 103, 10, 48, 241, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "8.Helv"
		CONTROL "- Unregistered Evaluation Copy -", 104, 13, 35, 234, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
		CONTROL "", 105, 13, 27, 234, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FOREGROUNDCOLOR , 0x0L
	END

END

DLGTEMPLATE 201 
BEGIN
	DIALOG "Message Area List", 100, 12, 43, 355, 158, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "Sample", 101, 7, 25, 340, 126, WC_CONTAINER, CCS_SINGLESEL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		DEFPUSHBUTTON "OK", DID_OK, 10, 5, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 64, 5, 51, 14
		PUSHBUTTON "Help", 998, 118, 5, 51, 14, BS_PUSHBUTTON | BS_HELP | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
	END

END


DLGTEMPLATE 202 
BEGIN
	DIALOG "Message List", 100, 26, 3, 390, 156, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "Sample", 101, 7, 25, 376, 124, WC_CONTAINER, CCS_SINGLESEL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		DEFPUSHBUTTON "OK", DID_OK, 10, 5, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 64, 5, 51, 14
		PUSHBUTTON "Help", 998, 118, 5, 51, 14, BS_PUSHBUTTON | BS_HELP | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
	END

END


MENU 257 
BEGIN
	SUBMENU "~File", 100
	BEGIN
		MENUITEM "~Import File...\tCtrl-I", 101, , MIA_DISABLED
		MENUITEM "~Export File...\tCtrl-X", 102
		MENUITEM SEPARATOR
		MENUITEM "~Decode Attachments\tAlt-D", 104
		MENUITEM SEPARATOR
		MENUITEM "E~xit\tAlt-F4", 103
	END

	SUBMENU "~Edit", 200
	BEGIN
		MENUITEM "~Undo\tAlt+Backspace", 201
		MENUITEM SEPARATOR
		MENUITEM "Cu~t\tShift+Del", 202
		MENUITEM "~Copy\tCtrl+Ins", 203
		MENUITEM "~Paste\tShift+Ins", 204
		MENUITEM "D~elete\tDel", 205
		MENUITEM SEPARATOR
		MENUITEM "~Find\tCtrl-F", 206, , MIA_DISABLED
		MENUITEM "Find and ~Replace\tCtrl-R", 207, , MIA_DISABLED
		MENUITEM "Fi~nd Next\tF3", 208, , MIA_DISABLED
	END

	SUBMENU "~Message", 300
	BEGIN
		MENUITEM "M~ove Message...\tCtrl-M", 301
		MENUITEM "Co~py Message...\tCtrl-C", 302
		MENUITEM "For~ward Message...\tCtrl-F", 303
		MENUITEM SEPARATOR
		MENUITEM "~New Message\tIns", 304
		MENUITEM "~Reply...", 305
		MENUITEM "~Delete\tDel", 306
		MENUITEM "~Find...\tCtrl-I", 307, , MIA_DISABLED
		MENUITEM SEPARATOR
		MENUITEM "First Message...", 308
		MENUITEM "Last Message...", 309
	END

	SUBMENU "~Help", 900
	BEGIN
		MENUITEM "Help ~index...", 901, , MIA_DISABLED
		MENUITEM "~General help...", 902, , MIA_DISABLED
		MENUITEM "~Using help...", 903, , MIA_DISABLED
		MENUITEM "~Keys help...", 904, , MIA_DISABLED
		MENUITEM SEPARATOR
		MENUITEM "~Product information...", 905
	END

END


DLGTEMPLATE 203 
BEGIN
	DIALOG "Message Scan", 100, 50, 128, 215, 46, WS_VISIBLE, FCF_TITLEBAR
	BEGIN
		CONTROL "Sample", 101, 4, 26, 194, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PUSHBUTTON "Cancel", DID_CANCEL, 153, 5, 51, 14
	END

END

ACCELTABLE 1 
BEGIN
	"a", 1206, ALT
	"A", 1206, ALT
	"c", 302, CONTROL
	"c", 302, ALT
	"C", 302, ALT
	"d", 1207, ALT
	"D", 1207, ALT
	VK_DELETE, 1207, VIRTUALKEY
	"e", 1205, ALT
	"E", 1205, ALT
	"f", 303, CONTROL
	"f", 303, ALT
	"F", 303, ALT
	VK_INSERT, 1205, VIRTUALKEY
	"l", 1204, ALT
	"L", 1204, ALT
	"m", 301, CONTROL
	"m", 301, ALT
	"M", 301, ALT
	"n", 1202, ALT
	"N", 1202, ALT
	VK_RIGHT, 1202, VIRTUALKEY
	VK_RIGHT, 1303, CONTROL, VIRTUALKEY
	"p", 1201, ALT
	"P", 1201, ALT
	VK_LEFT, 1201, VIRTUALKEY
	VK_LEFT, 1302, CONTROL, VIRTUALKEY
	"q", 1203, ALT
	"Q", 1203, ALT
	"r", 1301, ALT
	"R", 1301, ALT
	"v", 1300, ALT
	"V", 1300, ALT
END

DLGTEMPLATE 204 
BEGIN
	DIALOG "Message Header", 100, 6, 55, 296, 110, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "From:", 101, 7, 95, 36, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 102, 54, 95, 148, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 108, 210, 95, 70, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "To:", 103, 7, 82, 36, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 104, 54, 82, 148, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", 110, 210, 82, 70, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Subject:", 105, 7, 69, 36, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 106, 54, 69, 226, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Private", 107, 54, 54, 43, 9, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Crash", 109, 54, 44, 41, 9, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Local", 111, 54, 34, 50, 9, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Received", 121, 54, 24, 64, 9, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Sent", 112, 125, 54, 43, 9, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "File Attach", 113, 125, 44, 61, 9, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Transit", 114, 125, 34, 50, 9, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Kill / Sent", 123, 125, 24, 86, 9, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Hold", 115, 196, 54, 43, 9, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "File Request", 117, 196, 44, 67, 9, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Return Rcpt Req.", 120, 196, 34, 86, 9, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		DEFPUSHBUTTON "OK", DID_OK, 10, 5, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 64, 5, 51, 14
		PUSHBUTTON "Help", 998, 118, 5, 51, 14, BS_PUSHBUTTON | BS_HELP | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
	END

END


ACCELTABLE 2 
BEGIN
	"a", 1208, ALT
	"A", 1208, ALT
	"s", 1209, ALT
	"S", 1209, ALT
END


DLGTEMPLATE 205 
BEGIN
	DIALOG "Find Messages", 205, 93, 58, 241, 88, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "Where to search", 105, 10, 56, 221, 25, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "From", 101, 23, 61, 36, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "To", 102, 65, 61, 28, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Subject", 103, 97, 61, 44, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Message Body", 104, 147, 61, 73, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Text to search", 106, 14, 42, 71, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 107, 13, 31, 216, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		DEFPUSHBUTTON "OK", DID_OK, 10, 5, 51, 14
		PUSHBUTTON "Cancel", DID_CANCEL, 64, 5, 51, 14
		PUSHBUTTON "Help", 998, 118, 5, 51, 14, BS_HELP
	END

END

